export JENKINS_HOST=http://localhost:8080

createJenkinsJobConfig() {
	sed 's?#CURRENT_PATH?'`pwd`'?' /home/roy/dev/newman-demo/jenkins/defaultJenkinsJobConfig.xml > jobConfig.xml
}

createJenkinsJob() {
 curl -s -XPOST $JENKINS_HOST'/createItem?name='$1 -u admin:$JENKINS_API_TOKEN --data-binary @jobconfig.xml -H "Content-Type:text/xml" 
}


